@model IEnumerable<QL_Hocsinh.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namsinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHocPhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHocPhan.DiemGK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHocPhan.DiemCK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Namsinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHocPhan.Mon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHocPhan.DiemGK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopHocPhan.DiemCK)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
